<!DOCTYPE html>
<html>
  <head>
  	<title>LIV</title>
	<link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
	<script src="https://use.fontawesome.com/277f01dd74.js"></script>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<header id="main_navigation" class="clearfix">
		<a href="index.html" class="name">LIV KAO</a>
		<nav>
			<%= link_to "Articles", posts_path %>
			<a href="articles.html">Blog</a>
			<a href="#">Projects</a>
			<a href="contact.html">Contact</a>
		</nav>
	</header>
    <%= yield %>
  </body>
</html>
